<div id="header">
  <h1>Variety of Species</h1>
</div>
<br>
<div id="side1">
  <div id="s1">
    <h3 style="padding-left: 90px;">Species List</h3><br><br>
      Species<br>
      <input type="text">
      <br><br>
      Species No<br>
      <input type="text">
      <br><br>
      Country<br>
      <input type="text">

      <br><br><br>
        <button type="submit" id="btn">Edit Client</button>&nbsp;&nbsp;
        <button type="submit" id="btn">Delete</button>&nbsp;&nbsp;
        <button type="submit" id="btn">Save</button>&nbsp;&nbsp;
    </div>
  <div id="s2">
    <table>
      <tr><th style="width: 50px;">Species No</th><th>Species</th><th>Country</th></tr>
      <tr><td>01</td><td>Mangifera Indica</td><td>Brazil</td></tr>
      <tr><td>02</td><td>Phytelephas</td><td>Congo</td></tr>
      <tr><td>03</td><td>Phoenix Dactylifera</td><td>Ecuador</td></tr>
      <tr><td>04</td><td>Cocos Nucifera</td><td>Venezuela</td></tr>
      <tr><td>05</td><td>Solanum Lycopersicum</td><td>New Guinea</td></tr>
    </table>
  </div>

  </div>